A module is a collection of functions and variables that have been bundled together in a single file. Modules help us:

    Organize our code by separating related functions and objects into their own modules.
    Gain new functionality by using code written by others without spending a large amount of time diving into how exactly it's implemented.

In [21]:
import kaka

In [1]:
class Dataset:
    def __init__(self): #nstantiate the objec
        self.type = "csv"

dataset = Dataset()
print(dataset.type)

csv


    Add a data parameter to the __init__() method, and set the value to the self.data attribute.
    Read the data from nfl.csv and set it to the variable nfl_data.
    Make an instance of the class, passing in nfl_data to the __init__() method (when you call Dataset(...)).
        Assign th1e result to the variable nfl_dataset.
    Use the data attribute to access the underlying data for nfl_dataset and assign the result to the variable dataset_data.

In [6]:
import csv
class Dataset:
    def __init__(self, data):
        self.data = data

f = open("/home/kamlesh/AnacondaProjects/Dataquest/Data/nfl.csv", 'r')
csvreader = csv.reader(f)
nfl_data = list(csvreader)

nfl_dataset = Dataset(nfl_data)
dataset_data = nfl_dataset.data

In [8]:
dataset_data[0:5]

[['year', 'week', 'winner', 'loser'],
 ['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns'],
 ['2009', '1', 'New York Giants', 'Washington Redskins'],
 ['2009', '1', 'San Francisco 49ers', 'Arizona Cardinals']]

Extract header method can be witten 

But it can be called by multiple times by a user, taking a row each time

So instead of it make it an initilizer method so that you don't havve to call it again and again.

In [9]:

class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]

nfl_dataset = Dataset(nfl_data)
nfl_header = nfl_dataset.header

In [10]:
nfl_header

['year', 'week', 'winner', 'loser']

A great function to help us search the header and extract both the index and label to check is called enumerate(). Here's an example on how it works:

for idx, value in enumerate(['foo', 'bar']):

    print(idx, value)

This will print 0 foo and 1 bar which represents the index and value, respectively.

instructions

    Add a method named column that takes in a label argument, finds the index of the header, and returns a list of the column data.
        If the label is not in the header, you should return None.
    Create a variable called year_column and set it to the return value of column('year').
    Create a variable called player_column and set it to the return value of column('player').

In [14]:
class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]
        
    def column(self, label):
        if label not in self.header:
            print("Column not in header")
            return None
        
        index = 0
        for idx, value in enumerate(self.header):
            if value == label:
                index = idx
        col_data =[]
        for row in self.data:
            col_data.append(row[index])
        return col_data
    
nfl_object = Dataset(nfl_data)
nfl_header = nfl_object.header    
year_column = nfl_object.column('year')

In [17]:
year_column[0:5]

['2009', '2009', '2009', '2009', '2009']


    Add a method to the Dataset class called count_unique() that takes in a label arguments.
    Get the unique set of items from the column() method and return the total count.
    Use the instance method to assign the number of unique term values of year to total_years.

In [18]:
nfl_dataset = Dataset(nfl_data)
# 
class Dataset:
    def __init__(self, data):
        self.header = data[0]
        self.data = data[1:]
    
    def column(self, label):
        if label not in self.header:
            return None
        
        index = 0
        for idx, element in enumerate(self.header):
            if label == element:
                index = idx
        
        column = []
        for row in self.data:
            column.append(row[index])
        return column
    
    def count_unique(self, label):
        unique_results = set(self.column(label)) # see we can access the method of the class internally likeC++
        count = len(unique_results)
        return count

nfl_dataset = Dataset(nfl_data)
total_years = nfl_dataset.count_unique('year')

In [19]:
print(nfl_dataset)

<__main__.Dataset object at 0x7f3c10651ac8>

### Error handling

In [23]:
import pandas as pd

leg = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/legislators.csv')

In [24]:
leg.head()

  last_name  first_name    birthday gender type state                party
0   Bassett     Richard  1745-04-02      M  sen    DE  Anti-Administration
1     Bland  Theodorick  1742-03-21    NaN  rep    VA                  NaN
2     Burke     Aedanus  1743-06-16    NaN  rep    SC                  NaN
3   Carroll      Daniel  1730-07-22      M  rep    MD                  NaN
4    Clymer      George  1739-03-16      M  rep    PA                  NaN

In [27]:
file = open('/home/kamlesh/AnacondaProjects/Dataquest/Data/legislators.csv')
legs_l = list(csv.reader(file))

In [28]:
legs_l[0:5]

[['last_name', 'first_name', 'birthday', 'gender', 'type', 'state', 'party'],
 ['Bassett', 'Richard', '1745-04-02', 'M', 'sen', 'DE', 'Anti-Administration'],
 ['Bland', 'Theodorick', '1742-03-21', '', 'rep', 'VA', ''],
 ['Burke', 'Aedanus', '1743-06-16', '', 'rep', 'SC', ''],
 ['Carroll', 'Daniel', '1730-07-22', 'M', 'rep', 'MD', '']]

In [29]:
genders =[]
for i in legs_l:
    genders.append(i[3])
    
set_gender = set(genders)
print(set_gender)

{'', 'F', 'gender', 'M'}


    Extract the party column from legislators and convert it to a set. Assign the result to party.
    Print out party and inspect the values.
    Print out legislators and inspect the data.

In [31]:
party =[]
for i in legs_l:
    party.append(i[6])
    
set_party = set(party)
print(set_party)

{'', 'Pro-Administration', 'Conservative', 'Progressive Republican', 'Unknown', 'States Rights', 'New Progressive', 'Union Democrat', 'Jackson Republican', 'Crawford Republican', 'Whig', 'party', 'Ind. Democrat', 'Independent Democrat', 'Union Labor', 'Anti-Jacksonian', 'Populist', 'National Greenbacker', 'Democratic and Union Labor', 'Ind. Whig', 'Unionist', 'Federalist', 'Anti-Administration', 'Adams Democrat', 'Ind. Republican', 'Socialist', 'Readjuster Democrat', 'Anti Masonic', 'Democrat', 'Law and Order', 'Free Soil', 'Independent', 'Readjuster', 'Union', 'Constitutional Unionist', 'Progressive', 'American Labor', 'Unconditional Unionist', 'Anti-Lecompton Democrat', 'Anti Jacksonian', 'Adams', 'Conservative Republican', 'Nonpartisan', 'Liberty', 'Prohibitionist', 'Popular Democrat', 'Democratic Republican', 'Jackson', 'Liberal Republican', 'American', 'Ind. Republican-Democrat', 'Silver Republican', 'Free Silver', 'Republican-Conservative', 'Democrat-Liberal', 'Republican', 'Nullifier', 'Jacksonian', 'Farmer-Labor', 'Coalitionist', 'Anti Jackson'}

You may have noticed that the set representations of the gender and party columns on the previous two screens contained an empty string (''). This indicates that one or more of the rows in the data have missing values in those columns. Missing values are very common in real world data analysis, since the people compiling the datasets often don't have full information.

You can use one of the following strategies to address missing data:

    Remove any rows that contain missing data.
    Populate the empty fields with a specified value.
    Populate the empty fields with a calculated value.
    Use analysis techniques that work with missing data.

We'll work with missing data in more depth later on, but for now, we'll focus on populating empty fields with a specified value.

Here's how we could replace any missing values in the party column with the string No Party:

rows = [

    ["Bassett", "Richard", "1745-04-02", "M", "sen", "DE", "Anti-Administration"],

    ["Bland", "Theodorick", "1742-03-21", "", "rep", "VA", ""]

]

for row in rows:

    if row[6] == "":

        row[6] = "No Party"

Step by step, we:

    Loop through each row in rows.
    Check whether the party column (index 6) has a missing value.
    If so, replace it with the string No Party.

Next, we'll populate the empty fields in the gender column. Most U.S. legislators have historically been men (although this is changing), so we'll replace any missing values with the string M.
instructions

    Replace any missing values in the gender column of legislators with the string M.
    When you're done, the gender column of legislators should only contain the values F and M.

In [36]:
clean_gender=[]
for i in legs_l:
    if i[3] == "": #MISSING VALEUES
    #genders.append(i[3])
        i[3] = 'M'
    clean_gender.append(i[3])
    
set_gender = set(clean_gender)
print(set_gender)

{'F', 'gender', 'M'}

In [37]:
try:
    float("hello")
except Exception:
    print("Error converting to float.")

Error converting to float.

When the Python interpreter generates an exception, it actually creates an instance of the Exception class. This class has certain properties that help us debug the error. We can access the instance of the Exception class in the except statement body:

try:

    int('')

except Exception as exc:

    print(type(exc))

In [38]:
try:
    int('')
except Exception as exc:
    print(type(exc))
    print(str(exc))

<class 'ValueError'>
invalid literal for int() with base 10: ''


    Loop through each row in legislators.
        Parse the birth year from the birthday column.
        Convert the birth year to an integer, and assign it to birth_year.
        Wrap this code in a try/except block.
            If there's an exception, assign 0 to birth_year.
        Append birth_year to the row with the append() method.
    When finished, legislators should have an extra column for birth year.

In [40]:
for row in legs_l:
    birthday = row[2]
    birth_year = birthday.split("-")[0]
    try:
        birth_year = int(birth_year)
    except Exception:
        birth_year = 0
    row.append(birth_year)

In [41]:
birth_year

1963

In [45]:
legs_l = legs_l[1:]

In [46]:
legs_l[:5]

[['Bassett',
  'Richard',
  '1745-04-02',
  'M',
  'sen',
  'DE',
  'Anti-Administration',
  1745],
 ['Bland', 'Theodorick', '1742-03-21', 'M', 'rep', 'VA', '', 1742],
 ['Burke', 'Aedanus', '1743-06-16', 'M', 'rep', 'SC', '', 1743],
 ['Carroll', 'Daniel', '1730-07-22', 'M', 'rep', 'MD', '', 1730],
 ['Clymer', 'George', '1739-03-16', 'M', 'rep', 'PA', '', 1739]]

### List compreshions

In [47]:
ships = ["Andrea Doria", "Titanic", "Lusitania"]
cars = ["Ford Edsel", "Ford Pinto", "Yugo"]
for i, ship in enumerate(ships):
    print(ship)
    print(cars[i])

Andrea Doria
Ford Edsel
Titanic
Ford Pinto
Lusitania
Yugo

In [48]:
animals = ["Dog", "Tiger", "SuperLion", "Cow", "Panda"]

animal_lengths = []
for animal in animals:
    animal_lengths.append(len(animal))

In [49]:
animal_lengths = [len(animal) for animal in animals]

#### Above code are same

In [50]:
animal_lengths

[3, 5, 9, 3, 5]

In [51]:
values = [-50, -80, -100]
max_value = 0
for i in values:
    if i > max_value:
        max_value = i



In the above scenario, max_value is 0 when the loop finishes. This is wrong, because 0 isn't in values; it's just a placeholder we used to initialize max_value.

We can resolve this kind of issue using the None object, which has a special data type called NoneType.

The None object indicates that the variable has no value. Rather than using the normal double equals sign (==) to check whether a value equals None, we use the variable is None syntax.

The is comparison operator checks for object equality. Using is instead of == prevents some custom classes from resolving to True when compared with None. We'll explore how to use operators with the None object in greater depth during a later mission. For now, let's see what the variable is None syntax looks like:

In [52]:
values = [-50, -80, -100]
max_value = None
for i in values:
    if max_value is None or i > max_value:
        max_value = i

### Iterating dictionaly

fruits = {
        "apple": 2,
        "orange": 5,
        "melon": 10
    }

for fruit in fruits:
    rating = fruits[fruit]

#### Using  item

In [53]:
plant_types = {"orchid": "flower", "cedar": "tree", "maple": "tree"}
for k,v in plant_types.items():
    print(k)
    print(v)

cedar
tree
orchid
flower
maple
tree

Local scopes aren't just isolated from the global scope - they're also isolated from every other local scope. Our code creates a local scope when it calls a function, and destroys it when the function finishes running. Calling the same function twice will create two separate local scopes. This ensures that any variables our code creates inside the function disappear when the function finishes running, and don't affect the rest of the program.

Here's an example:

In [55]:
def add(a,b):

    total = a + b

    return total



def subtract(a,b):

    total = a - b

    return total



print(add(1,5))

print(subtract(1,5))

6
-4

In [56]:
a = 2
def alter_a():
    a = a * 2
    return a

In [58]:
x = alter_a()

UnboundLocalError: local variable 'a' referenced before assignment