 Vectorization which andrew ng was talking about and numpy and pandas uses both of these techniques 
 for processing.

In [2]:
import csv
import numpy as np
#now you know pandas so read the data into panda
import pandas as pd
taxi_p = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/nyc_taxis.csv')
f = open('/home/kamlesh/AnacondaProjects/Dataquest/Data/nyc_taxis.csv',"r")
taxi_p.head()

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2

#### Description of data , read the below doc

https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md

In [6]:
taxi_list = list(csv.reader(f))

In [7]:
# remove the header row
taxi_list = taxi_list[1:]

In [8]:
# convert all values to floats
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_taxi_list.append(converted_row)

# start writing your code below this comment
taxi = np.array( converted_taxi_list )

In [10]:
%timeit
taxi.shape # will retrn a tuple

(89560, 15)

In [11]:
%timeit

#### selection of data in numpy

ndarray[row,column]

 or if you want to select all
 columns for a given set of rows
 
 
    An integer, indicating a specific location, eg ndarray[3,0].
    A slice, indicating a range of locations, eg ndarray[0:5,6:].
    A colon, indicating every location, eg ndarray[:,2].
    A list of values, indicating specific locations, eg ndarray[[0,1,3,4],0].
    A boolean array, indicating specific locations - we'll look at this method in detail in the second mission of this course.
    Or any combination of the above.

remember we use to select single item form a 2d list as

    sel-row = data[1][2]
    
    
but numpy method is 

    sel_row = data_np[1,2]

From the taxi ndarray:

    Select the row at index 0 and assign it to row_0.
    Select every column for the rows at indexes 391 to 500 inclusive and assign them to rows_391_to_500.
    Select the item at row index 21 and column index 5 and assign it to row_21_column_5

In [13]:
row_0 = taxi[0]
rows_391_to_500 = taxi[391:501]
row_21_column_5 = taxi[21,5]

From the taxi ndarray:

    Select every row for the columns at indexes 1, 4, and 7 and assign them to columns_1_4_7.
    Select the columns at indexes 5 to 8 inclusive for the row at index 99 and assign them to row_99_columns_5_to_8.
    Select the rows at indexes 100 to 200 inclusive for the column at index 14 and assign them to rows_100_to_200_column_14.

In [14]:
list1=[1,4,7]
list2= []
columns_1_4_7 = taxi[:,list1]
row_99_columns_5_to_8 = taxi[99,5:9]
        
rows_100_to_200_column_14 = taxi[100:201,14 ]


    Use vector division to divide trip_distance_miles by trip_length_hours, assigning the result to trip_mph.
    After you have run your code, use the variable inspector below the code box to inspect the contents of the new trip_mph variable.

In [15]:
trip_distance_miles = taxi[:,7]
trip_length_seconds = taxi[:,8]

trip_length_hours = trip_length_seconds / 3600 # 3600 seconds is one hour

trip_mph = trip_distance_miles/trip_length_hours

Before we look at other array methods Let's take a moment to clarify the difference between methods and functions. Functions act as stand alone segments of code that usually take an input, perform some processing, and return some output. When we're working with Python lists, we can use the len() function to calculate the length of a list, but if we're working with Python strings, we can also use len(). In this case, it calculates the numbers of characters (or length) of the string.


In contrast, methods are special functions that belong to a specific type of object. Python lists have a list.append() method that we can use to add an item to the end of a list. If we try to use that method on a string, we will get an error:

To remember the right terminology, anything that starts with np (e.g. np.mean()) is a function and anything you express with an object (or variable) name first (eg trip_mph.mean()) is a method.

In [16]:
mph_min = trip_mph.min()
mph_max = trip_mph.max()

mph_mean = trip_mph.mean()
print(mph_min)
print(mph_max) # seems high or unrelaixstic

0.0
82800.0

In [18]:
# These `ones` and `zeros` variables
# are different from the ones in the
# main lesson example
ones = np.array([[1,1,1],[1,1,1]])
zeros =np.array([0,0,0])
print(ones)
print(zeros)
print() # creates a space in our output

combined = np.concatenate([ones,zeros],axis=0)

[[1 1 1]
 [1 1 1]]
[0 0 0]

ValueError: all the input arrays must have same number of dimensions

In [19]:
print(ones.shape)
print(zeros.shape)

(2, 3)
(3,)

desired shape of zeros is (x,3) any nu of rows and 3 columns.

In order to adjust the shape of zeros, we can use the numpy.expand_dims() function.
You might like to follow these steps in the console. 
We'll start by passing axis=0 because we want to convert our 1D array into a 2D array representing a row:

In [24]:

zeros_2d = np.expand_dims(zeros,axis=0)
print(zeros_2d)
print(zeros_2d.shape)
print()

combined = np.concatenate([ones,zeros_2d],axis=0)
print(combined)
print()

# the `trip_mph` variable is still available from the
# previous screen

[[0 0 0]]
(1, 3)

[[1 1 1]
 [1 1 1]
 [0 0 0]]

In [25]:
print( trip_mph.shape )

(89560,)


    Expand the dimensions of trip_mph to be a single column in a 2D ndarray, and assign the result to trip_mph_2d.
    Add trip_mph_2d as a new column at the end of taxi, assigning the result back to taxi.
    Use the print() function to display taxi and view the new column.

In [28]:
trip_mph_2d = np.expand_dims(trip_mph,axis = 1)
print( trip_mph_2d.shape)

(89560, 1)

In [29]:
taxi = np.concatenate((taxi,trip_mph_2d),axis = 1)

http://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.argsort.html#numpy.argsort


    Use numpy.argsort() to get the indices which would sort the trip_mph column from the taxi ndarray. The trip_mph column is at column index 15.
    Use the indices from the previous instruction to sort the taxi ndarray, and assign the result to sorted_taxi.
    Use the print() function to examine the taxi_sorted ndarray.

In [42]:
trip_mph = taxi[:,15]
sorted_order = np.argsort( trip_mph )
print(sorted_order)
print(taxi[88235,15])
sorted_taxi = taxi[sorted_order]

[88239 28023 44816 ... 40728 19063  9872]
26.82472480948349

###  2  Boolean Indexing with Numpy

In [58]:
a = np.array([1,2,3,4,5,6],ndmin = 2) # put 2 in ndimn
b = np.array([1,2,3,4,5,6])

In [59]:
print(a.shape)
print(a.ndim)

print(b.shape)
print(b.ndim)

(1, 6)
2
(6,)
1

In [60]:
combined = np.concatenate([a,b],axis=0)
combined

ValueError: all the input arrays must have same number of dimensions

In [44]:
import numpy as np
taxi = np.genfromtxt( '/home/kamlesh/AnacondaProjects/Dataquest/Data/nyc_taxis.csv',delimiter = ',',skip_header = 1 )

In [61]:
np.array([2,4,6,8]) < 5

array([ True,  True, False, False])

In [62]:
a = np.array([1, 2, 3, 4, 5])
b = np.array(["blue", "blue", "red", "blue"])
c = np.array([80.0, 103.4, 96.9, 200.3])

a_bool = a < 3
b_bool = b == "blue"
c_bool = c > 100
print(a_bool)

[ True  True False False False]

In [46]:
pickup_month = taxi[:,1]

january_bool = pickup_month == 1
january = pickup_month[january_bool]
january_rides = january.shape[0]

february_bool = pickup_month == 2
february = pickup_month[february_bool]
february_rides = february.shape[0]

march_bool = pickup_month == 3
march = pickup_month[ march_bool]
march_rides = march.shape[0]

4. Boolean Indexing with 2D ndarrays


    Create a boolean array, tip_bool, that determines which rows have values for the tip_amount column of more than 50.
    Use the tip_bool array to select all rows from taxi with values tip amounts of more than 50, and the columns from indexes 5 to 13 inclusive.
    Once you have run your code, use the variable inspector to view the top_tips array.
        To help you understand the data, the columns names are (in order): pickup_location_code, dropoff_location_code, trip_distance, trip_length, fare_amount, fees_amount, tolls_amount, tip_amount, and total_amount.

In [47]:
tip_amount = taxi[:,12]

tip_bool = tip_amount > 50

top_tips = taxi[tip_bool,5:14]


    The value at column index 5 (pickup_location) of row index 28214 is incorrect. Use assignment to change this value to 1 in the taxi_modified ndarray.
    The first column (index 0) contains year values as four digit numbers in the format YYYY (2016, since all trips in our data set are from 2016). Use assignment to change these values to the YY format (16) in the taxi_modified ndarray.
    The values at column index 7 (trip_distance) of rows index 1800 and 1801 are incorrect incorrect. Use assignment to change these values in the taxi_modified ndarray to the mean value for that column.

In [49]:
# this creates a copy of our taxi ndarray
taxi_modified = taxi.copy()
taxi_modified[28214,5] = 1
taxi_modified[:,0] = 16
taxi_modified[1800:1802,7] = np.mean( taxi_modified[:,7] )

#taxi_modified[1800:1802,7] = taxi_modified[:,7].mean()

In [50]:
a = np.array([1, 2, 3, 4, 5])

a[a > 2] = 99

print(a)

[ 1  2 99 99 99]

In [51]:
#Shortcut
a2 = np.array([1, 2, 3, 4, 5])

a2_bool = a2 > 2

a2[a2_bool] = 99

print(a2)

[ 1  2 99 99 99]

In [79]:
c = np.array([[1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]])

In [80]:
c[c[:,1] > 2,1] = 96
print(c)

[[ 1  2  3]
 [ 4 96  6]
 [ 7 96  9]]

In [82]:
taxi_modified = taxi.copy()

# create a new column filled with `0`.
zeros = np.zeros([taxi_modified.shape[0], 1])
taxi_modified = np.concatenate([taxi, zeros], axis=1)
print(taxi_modified)

taxi_modified[taxi_modified[:,5] == 2 ,15] = 1

taxi_modified[taxi_modified[:,5] == 3 ,15] = 1

taxi_modified[taxi_modified[:,5] == 5 ,15] = 1

[[2.016e+03 1.000e+00 1.000e+00 ... 6.999e+01 1.000e+00 0.000e+00]
 [2.016e+03 1.000e+00 1.000e+00 ... 5.430e+01 1.000e+00 0.000e+00]
 [2.016e+03 1.000e+00 1.000e+00 ... 3.780e+01 2.000e+00 0.000e+00]
 ...
 [2.016e+03 6.000e+00 3.000e+01 ... 6.334e+01 1.000e+00 0.000e+00]
 [2.016e+03 6.000e+00 3.000e+01 ... 4.475e+01 1.000e+00 0.000e+00]
 [2.016e+03 6.000e+00 3.000e+01 ... 5.484e+01 2.000e+00 0.000e+00]]


We have created a new copy of our taxi dataset, taxi_modified with an additional column containing the value 0 for every row.

    In our new column at index 15, assign the value 1 if the pickup_location_code (column index 5) corresponds to an airport location, leaving the value as 0 otherwise by performing these three operations:
        For rows where the value for the column index 5 is equal to 2 (JFK Airport), assign the value 1 to column index 15.
        For rows where the value for the column index 5 is equal to 3 (LaGuardia Airport), assign the value 1 to column index 15.
        For rows where the value for the column index 5 is equal to 5 (Newark Airport), assign the value 1 to column index 15.

In [84]:
# this creates a copy of our taxi ndarray
taxi_modified = taxi.copy()

# create a new column filled with `0`.
zeros = np.zeros([taxi_modified.shape[0], 1])
taxi_modified = np.concatenate([taxi, zeros], axis=1)
#print(taxi_modified)

taxi_modified[taxi_modified[:,5] == 2 ,15] = 1

taxi_modified[taxi_modified[:,5] == 3 ,15] = 1

taxi_modified[taxi_modified[:,5] == 5 ,15] = 1


    trip_distance, at column index 7
    trip_length, at column index 8
    total_amount, at column index 13
    trip_mph, not available as a column but as its own ndarray
The trip_mph ndarray has been provided for you.

    Create a new ndarray, cleaned_taxi, containing only rows for which the values of trip_mph are greater than 100.
    Calculate the mean of the trip_distance column of cleaned_taxi, and assign the result to mean_distance.
    Calculate the mean of the trip_length column of cleaned_taxi, and assign the result to mean_length.
    Calculate the mean of the total_amount column of cleaned_taxi, and assign the result to mean_total_amount.
    Calculate the mean of the trip_mph, excluding values greater than 100, and assign the result to mean_mph.

In [85]:
trip_mph = taxi[:,7] / (taxi[:,8] / 3600)

cleaned_taxi = taxi[ trip_mph < 100 ]

mean_distance = cleaned_taxi[:,7].mean()

mean_length =cleaned_taxi[:,8].mean()

mean_total_amount = cleaned_taxi[:,13].mean()

mean_mph = trip_mph[ trip_mph < 100].mean()