In [5]:
kamlesh = 5
print(kamlesh)
kamlesh="string"
print(kamlesh)

5
string

In [6]:
list_1 = []
list_1.append(1)
list_1.append('kamlesh')
list_1

[1, 'kamlesh']

#### Debugging errors

In [8]:
def first_elts (input_lst):
elts = []
    for each in input_lst:
        elts.append(each0)
    retern elts

animals = [["dog","cat","rabbit"],["turtle","snake"],["sloth","penguin","bird"]]
first_animal = first_elts(animals)
print(first_animal)

IndentationError: expected an indented block (<ipython-input-8-7b838ec1b5a8>, line 2)

### Check the various errors in the above code, syntax and runtime

### Project 1

In [53]:
import pandas as pd

In [63]:
file=open("/home/kamlesh/AnacondaProjects/Dataquest/Data/US_births_1994-2003_CDC_NCHS.csv", 'r')

In [84]:
#file reading
birth = file.read()
#birth

In [65]:
birth_ = birth.split('\n')
birth_ = birth_[1:]

In [72]:
birth_[1:5]

['1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053']

In [76]:
final_list=[]
for row in birth_:
    #print(row)
    int_fields=[]
    string_list=[]
    string_fields = row.split(',')
    for s in string_fields:
        int_fields.append(int(s))
        final_list.append(int_fields)

In [78]:
final_list[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096]]

In [79]:
def month_births(final_list):
    birth_per_month={}
    for row in final_list:
        month = row[1]
        birth = row[3]
        if month in birth_per_month:
            birth_per_month[month] += birth
        else:
            birth_per_month[month] = birth
    return birth_per_month    
birth_per_month = month_births(final_list) 

birth_per_month

{1: 6180,
 2: 5630,
 3: 6240,
 4: 5985,
 5: 6185,
 6: 6030,
 7: 6165,
 8: 6230,
 9: 5990,
 10: 6175,
 11: 6035,
 12: 6190}

In [82]:
def dow_births(final_list):
    birth_per_weekday={}
    for row in final_list:
        week = row[3]
        birth = row[4]
        if week in birth_per_weekday:
            birth_per_weekday[week] += birth
        else:
            birth_per_weekday[week] = birth
    return birth_per_weekday    
cdc_day_birth = dow_births(final_list)

In [83]:
cdc_day_birth

{1: 28945830,
 2: 32230980,
 3: 31614275,
 4: 31442145,
 5: 31168285,
 6: 22810555,
 7: 20398615}

In [85]:
# iternate dictinay
max_0 = 0
for key,value in cdc_day_birth.items():
    if value > max_0:
        max_0 = value
print(max_0)

32230980