In [1]:
import pandas as pd

laptops = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/laptops.csv', encoding ="Latin-1" )

In [2]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
Manufacturer                1303 non-null object
Model Name                  1303 non-null object
Category                    1303 non-null object
Screen Size                 1303 non-null object
Screen                      1303 non-null object
CPU                         1303 non-null object
RAM                         1303 non-null object
 Storage                    1303 non-null object
GPU                         1303 non-null object
Operating System            1303 non-null object
Operating System Version    1133 non-null object
Weight                      1303 non-null object
Price (Euros)               1303 non-null object
dtypes: object(13)
memory usage: 132.4+ KB

instructions

    Define a function, which accepts a string argument, and:
        Removes any whitespace from the start and end of the string.
        Replaces the substring Operating System with the abbreviation os.
        Replaces all spaces with underscores.
        Removes parentheses from the string.
        Makes the entire string lowercase.
        Returns the modified string.
    Use list comprehension to apply the function to each item in the DataFrame.column attribute for the laptops dataframe, assigning the result back to the the DataFrame.columns attribute.

In [3]:
def clean_col(col):
    col = col.strip()
    col = col.replace("Operating System","os" )
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.replace(" ","_" )
  
    col = col.lower()
    return col

laptops.columns = [ clean_col(c)  for c in laptops.columns ]

In [4]:
print(laptops.iloc[:5,2:5])

    category screen_size                              screen
0  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600
1  Ultrabook       13.3"                            1440x900
2   Notebook       15.6"                   Full HD 1920x1080
3  Ultrabook       15.4"  IPS Panel Retina Display 2880x1800
4  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600

### Observe the data type ...

Of these three columns, we have three different types of text data:

    category - This is purely text data, there are no numeric values.
    screen_size - This is numeric data that is being stored as text data because of the " character.
    screen - This is a combination of pure text data with numeric data.

Thinking about the screen_size column specifically, while the values are stored as text data, we can't sort them numerically. For instance, if we wanted to select laptops with screens 15" or larger we're unable to do so. To be able to answer these sorts of questions we need to convert the string values to numeric values.

In [5]:
https://s3.amazonaws.com/dq-content/293/cleaning_workflow.svg

SyntaxError: invalid syntax (<ipython-input-5-55d761f790df>, line 1)

In [7]:
print(laptops["screen_size"].dtype)
print(laptops["screen_size"].unique())

object
['13.3"' '15.6"' '15.4"' '14.0"' '12.0"' '11.6"' '17.3"' '10.1"' '13.5"'
 '12.5"' '13.0"' '18.4"' '13.9"' '12.3"' '17.0"' '15.0"' '14.1"' '11.3"']

In [8]:
laptops["screen_size"] = laptops["screen_size"].str.replace('"','')

Now we've removed the non-digit characters, we can convert (or cast) the column to a numeric dtype. To do this, we use the Series.astype() method. We can use either int or float as the parameter for the method to convert the column to the respective type:

In [9]:
laptops["screen_size"] = laptops["screen_size"].astype(float)

In [10]:
print(laptops["screen_size"].dtype)

float64

In [12]:

print(laptops["screen_size"].unique())

[13.3 15.6 15.4 14.  12.  11.6 17.3 10.1 13.5 12.5 13.  18.4 13.9 12.3
 17.  15.  14.1 11.3]

In [13]:
laptops.rename({"screen_size": "screen_size_inches"}, axis=1, inplace=True)

In [17]:
print(laptops.dtypes)

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram                    object
storage                object
gpu                    object
os                     object
os_version             object
weight                 object
price_euros            object
dtype: object


    Use the Series.replace() method to remove the substring GB from the ram column.
    Use the Series.astype() method to change the ram column to an integer dtype.
    Because the GB characters contained useful information about the units (gigabytes) of the laptop's ram, use the DataFrame.rename() method to rename the column from ram to ram_gb.
    Use the DataFrame.dtypes attribute to get a list of the column names and types from the laptop dataframe, and assign the result to dtypes.
    After you have run your code, use the variable inspector to view the dtypes variable to see the results of your code.

In [19]:




laptops["ram"] = laptops["ram"].str.replace('GB','').astype(int)

laptops.rename({"ram": "ram_gb"}, axis=1, inplace=True)

dtypes = laptops.dtypes


    Clean the weight column by:
        Removing all non-digit characters.
        Casting the column to the appropriate numeric type
        Renaming the column to weight_kg.
    Clean the price_euros column by:
        Replacing the decimal commas with decimal points.
        Casting the column to the appropriate numeric type.
    Use the Series.describe() method to generate some descriptive statistics for each column:
        Assign the results for the weight_kg column to weight_describe.
        Assign the results for the price_euros column to price_describe

In [20]:
laptops["weight"] = (laptops["weight"]
                        .str.replace("kg","")
                        .astype(float)
                    )

ValueError: could not convert string to float: '4s'

In [21]:
laptops["weight"] = laptops["weight"].str.replace('kgs','')
laptops["weight"] = laptops["weight"].str.replace('kg','').astype(float)

laptops["price_euros"] = laptops["price_euros"].str.replace(',','.').astype( float )

#renaming
laptops.rename({"weight":"weight_kg"},axis = 1,inplace = True)

weight_describe = laptops["weight_kg"].describe()

price_describe = laptops["price_euros"].describe()

In [22]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,898.94

Extract the manufacturer name from the cpu column, and assign it to a new column cpu_manufacturer.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html

In [27]:
#extracting cpu manufacture
laptops["cpu_manufacture"] = laptops["cpu"].str.split(n=1,
                                                      expand=True).iloc[:,0]

In [29]:
laptops["gpu_manufacturer"] = (laptops["gpu"]
                                    .str.split(n=1,expand=True)
                                    .iloc[:,0]
                               )

In [30]:
print(laptops["screen"].unique().shape)
print(laptops["screen"].unique()[:10])

(40,)
['IPS Panel Retina Display 2560x1600' '1440x900' 'Full HD 1920x1080'
 'IPS Panel Retina Display 2880x1800' '1366x768'
 'IPS Panel Full HD 1920x1080' 'IPS Panel Retina Display 2304x1440'
 'IPS Panel Full HD / Touchscreen 1920x1080'
 'Full HD / Touchscreen 1920x1080' 'Touchscreen / Quad HD+ 3200x1800']

In [31]:
print(laptops.loc[:9, "screen"].str.split(expand=True))

          0      1          2        3          4
0       IPS  Panel     Retina  Display  2560x1600
1  1440x900   None       None     None       None
2      Full     HD  1920x1080     None       None
3       IPS  Panel     Retina  Display  2880x1800
4       IPS  Panel     Retina  Display  2560x1600
5  1366x768   None       None     None       None
6       IPS  Panel     Retina  Display  2880x1800
7  1440x900   None       None     None       None
8      Full     HD  1920x1080     None       None
9       IPS  Panel       Full       HD  1920x1080

In [33]:
print( laptops.loc[:9,"screen"].str.rsplit(n=1, expand=True))

                          0          1
0  IPS Panel Retina Display  2560x1600
1                  1440x900       None
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600
5                  1366x768       None
6  IPS Panel Retina Display  2880x1800
7                  1440x900       None
8                   Full HD  1920x1080
9         IPS Panel Full HD  1920x1080

In [39]:
screen_res = laptops["screen"].str.rsplit(n=1, expand=True)
#
screen_res.head(5)

                          0          1
0  IPS Panel Retina Display  2560x1600
1                  1440x900       None
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600

In [40]:

screen_res.columns = ["A", "B"]
screen_res.head()

                          A          B
0  IPS Panel Retina Display  2560x1600
1                  1440x900       None
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600

In [41]:
# for rows where the value of column "B" is null, fill in the
# value found in column "A" for that row
screen_res.loc[screen_res["B"].isnull(), "B"] = screen_res["A"]
print(screen_res.iloc[:10])

                          A          B
0  IPS Panel Retina Display  2560x1600
1                  1440x900   1440x900
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600
5                  1366x768   1366x768
6  IPS Panel Retina Display  2880x1800
7                  1440x900   1440x900
8                   Full HD  1920x1080
9         IPS Panel Full HD  1920x1080

In [43]:
#We've now extracted the resolution data, and we can then assign this to a new column:
laptops["screen_resolution"] = screen_res["B"]
print(laptops["screen_resolution"].unique().shape)
print(laptops["screen_resolution"].unique())

(15,)
['2560x1600' '1440x900' '1920x1080' '2880x1800' '1366x768' '2304x1440'
 '3200x1800' '1920x1200' '2256x1504' '3840x2160' '2160x1440' '2560x1440'
 '1600x900' '2736x1824' '2400x1600']

### Now get the processor speed like 2.3 only this

In [48]:

laptops["cpu"].unique().shape
laptops["cpu"].unique()[:6]

array(['Intel Core i5 2.3GHz', 'Intel Core i5 1.8GHz',
       'Intel Core i5 7200U 2.5GHz', 'Intel Core i7 2.7GHz',
       'Intel Core i5 3.1GHz', 'AMD A9-Series 9420 3GHz'], dtype=object)

In [49]:
pro_speed = laptops["cpu"].str.rsplit(n=1, expand=True)

In [51]:
pro_speed.columns = ["A","B"]

In [56]:
pro_speed["B"] = pro_speed['B'].str.replace('GHz','').astype(float)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [59]:
laptops["cpu_speed_ghz"] = pro_speed["B"]

In [62]:
#ANother method                                    
laptops["cpu_speed_ghz"] = (laptops["cpu"]
                            .str.replace("GHz","")
                            .str.rsplit(n=1,expand=True)
                            .iloc[:,1]
                            .astype(float)
                            )

If your data has been scraped from a webpage, or if there was manual data entry involved at some point, you may end up with inconsistent values. Let's look at an example from our os column:

In [63]:

print(laptops["os"].value_counts())

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64



We can see that there are two variations on how the Apple operating system macOS exists in our dataset: Mac OS and macOS. One way we could fix this is by using a boolean comparison and assignment, but instead we'll learn a new way: the Series.map() method. The Series.map() method is ideal when we want to change multiple values in a column. Even though that's not the case here, we'll use it as an opportunity to learn how the method works.

The most common way to use Series.map() is with a dictionary. The keys of our dictionary are the original values in our series, and the corresponding values are what they're updated to. Let's look at a simple example using a series of misspelled fruit:

In [64]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops["os"] = laptops["os"].map( mapping_dict )

### Dropping missing values

In [65]:
print(laptops.isnull().sum())

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight_kg               0
price_euros             0
cpu_manufacture         0
gpu_manufacturer        0
cpu_manufacturer        0
screen_resolution       0
cpu_speed_ghz           0
dtype: int64



It's a lot clearer that we have only one column with null valuesâ€“ os_version, which has 170 missing values of the ~1300 total, about 13%.

We have a few options for how we can handle missing values:

    Remove any rows that have missing values.
    Remove any columns that have missing values.
    Fill the missing values with some other value.
    Leave the missing values as is.

In [66]:
laptops_no_null_rows = laptops.dropna( axis = 0 )

laptops_no_null_cols = laptops.dropna( axis =1 )

### Exploring the values  of Null columns

In [67]:
print(laptops["os_version"].value_counts(dropna=False))

10      1072
NaN      170
7         45
10 S       8
X          8
Name: os_version, dtype: int64



We can see that the majority of values in the column are 10, with the missing values the next most commons, and then about 5% of values being one of three others.

We can also explore values of the other columns in the rows with null values. In this case, the os_version column is closely related to the os column, so we'll look at those values:

In [68]:
os_with_null_v = laptops.loc[laptops["os_version"].isnull(),"os"]
print(os_with_null_v.value_counts())

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64



Immediately we can observe a few things:

    Most of the missing values are actually when the laptop doesn't include any OS. This is an important distinction, because it's not so much that we don't know what the value is, as that there can't be a value.
    13 of the laptops that come with macOS do not specify the version. Leaning on our knowledge of MacOS, we might know that the full name of macOS used to be Mac OS X, and so we might to fill these values to be more consistent.

In both of these cases, we can fill the missing values to make our data more correct. For the rest of the values, it's probably best to leave them as missing so we don't remove important values.

First, let's explore those mac columns a bit more to make sure our intuition was correct:

In [69]:
mac_os_versions = laptops.loc[laptops["os"] == "macOS", "os_version"]
print(mac_os_versions.value_counts(dropna=False))

NaN    13
X       8
Name: os_version, dtype: int64

We were correct, all 8 rows that have the value X are macOS versions. We'll fill in all of the NaN values with X. We can use assignment with a boolean comparison to perform this replacement:


For our other case, let's insert a Version Unknown value into the os_version column for any laptop with a No OS value in the os column:

In [71]:
value_counts_before = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"


# 
laptops.loc[laptops["os"] == 'No OS', "os_version"] = "Version Unknown" 

value_counts_after = laptops.loc[laptops["os_version"].isnull(),"os"].value_counts()