In [4]:
import pandas as pd

f500 = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/f500.csv', index_col = 0)
f500.index.name = None

In [7]:
f500.dtypes

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [8]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 86.4+ KB

In [10]:
f500_head = f500.head(6)
f500_tail = f500.tail(8)

#f500.info()

In [11]:
f500_head

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753

instructions

    Select the industry column, and assign the result to the variable name industries.
    Select the rank, previous_rank and years_on_global_500_list columns, in order, and assign the result to the variable name previous.
    Select all columns from revenues up to and including profit_change, in order, and assign the result to the variable name financial_data.

In [13]:
industries = f500.loc[:,'industry']
previous = f500.loc[:,["rank","previous_rank","years_on_global_500_list"]]
financial_data = f500.loc[:, "revenues":"profit_change"]
#financial_data = f500.loc[;, "revenues":"profit_change"]

instructions

    Select the country column, and assign the result to the variable name countries.
    Select the revenues and years_on_global_500_list columns, in order, and assign the result to the variable name revenues_years.
    Select all columns from ceo up to and including sector, in order, and assign the result to the variable name ceo_to_sector.

In [14]:
countries = f500["country"]
revenues_years = f500[["revenues", "years_on_global_500_list"]]
ceo_to_sector = f500.loc[:, "ceo":"sector"]

In [16]:
print( type(f500.head(1)))

<class 'pandas.core.frame.DataFrame'>

In [17]:
x = f500.head(1)

In [18]:
print( type(x))

<class 'pandas.core.frame.DataFrame'>

In [19]:
x

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [20]:
ceos = f500["ceo"]

In [21]:
ceos

Walmart                                                       C. Douglas McMillon
State Grid                                                                Kou Wei
Sinopec Group                                                           Wang Yupu
China National Petroleum                                            Zhang Jianhua
Toyota Motor                                                          Akio Toyoda
Volkswagen                                                        Matthias Muller
Royal Dutch Shell                                                 Ben van Beurden
Berkshire Hathaway                                              Warren E. Buffett
Apple                                                             Timothy D. Cook
Exxon Mobil                                                       Darren W. Woods
McKesson                                                       John H. Hammergren
BP                                                               Robert W. Dudley
UnitedHealth Group                                             Stephen J. Hemsley
CVS Health                                                         Larry J. Merlo
Samsung Electronics                                                  Oh-Hyun Kwon
Glencore                                                          Ivan Glasenberg
Daimler                                                            Dieter Zetsche
General Motors                                                      Mary T. Barra
AT&T                                                        Randall L. Stephenson
EXOR Group                                                            John Elkann
Ford Motor                                                       James P. Hackett
Industrial & Commercial Bank of China                                      Gu Shu
AmerisourceBergen                                                Steven H. Collis
China State Construction Engineering                                    Guan Qing
AXA                                                                 Thomas Buberl
Amazon.com                                                       Jeffrey P. Bezos
Hon Hai Precision Industry                                              Terry Gou
China Construction Bank                                            Wang Hongzhang
Honda Motor                                                      Takahiro Hachigo
Total                                                            Patrick Pouyanne
                                                              ...
Amgen                                                           Robert A. Bradway
Rabobank Group                                                      Wiebe Draijer
Altice                                                              Michel Combes
Onex                                                           Gerald W. Schwartz
US Foods Holding                                                  Pietro Satriano
Shanxi Jincheng Anthracite Coal Mining Group                           He Tiancai
Randstad Holding                                            Jacques van den Broek
Tencent Holdings                                                          Pony Ma
LG Display                                                          Sang-Beom Han
Emirates Group                                  Sheikh Ahmed bin Saeed Al Maktoum
U.S. Bancorp                                                     Andrew J. Cecere
H & M Hennes & Mauritz                                         Karl-Johan Persson
Aflac                                                              Daniel P. Amos
Sodexo                                                              Michel Landel
Suning Commerce Group                                                     Ren Jun
GS Caltex                                                             Jin-Soo Huh
Ultrapar Holdings                                                 Thilo Mannhardt
Xiamen C&D                                                          Huang Wenzhou
Sears Holdings                                                  Edward S. Lampert
China General Technology                                              Xu Xianping
National Grid                                                      John Pettigrew
Dollar General                                                      Todd J. Vasos
Telecom Italia                                                    Flavio Cattaneo
Xiamen ITG Holding Group                                                Xu Xiaoxi
Xinjiang Guanghui Industry Investment                               Shang Jiqiang
Teva Pharmaceutical Industries                                  Yitzhak Peterburg
New China Life Insurance                                                 Wan Feng
Wm. Morrison Supermarkets                                          David T. Potts
TUI                                                             Friedrich Joussen
AutoNation                                                     Michael J. Jackson
Name: ceo, Length: 500, dtype: object

From the pandas series ceos:

    Select the item at index label Walmart and assign the result to the variable name walmart.
    Select the items from index label Apple up to and including index label Samsung Electronics and assign the result to the variable name apple_to_samsung.
    Select the items with index labels Exxon Mobil, BP, and Chevron, in order, and assign the result to the variable name oil_companies.

In [23]:
ceos = f500["ceo"]

walmart = ceos.loc['Walmart']

apple_to_samsung = ceos.loc["Apple":"Samsung Electronics"]

oil_companies = ceos.loc[["Exxon Mobil","BP","Chevron"]]

In [25]:
single_row = f500.loc["Sinopec Group"]
print(type(single_row))
print(single_row)

<class 'pandas.core.series.Series'>
rank                                             3
revenues                                    267518
revenue_change                                -9.1
profits                                     1257.9
assets                                      310726
profit_change                                  -65
ceo                                      Wang Yupu
industry                        Petroleum Refining
sector                                      Energy
previous_rank                                    4
country                                      China
hq_location                         Beijing, China
website                     http://www.sinopec.com
years_on_global_500_list                        19
employees                                   713288
total_stockholder_equity                    106523
Name: Sinopec Group, dtype: object

instructions

    By selecting data from f500:
        Create a new variable, drink_companies, with:
            Rows with indicies Anheuser-Busch InBev, Coca-Cola, and Heineken Holding, in that order.
            All columns.
        Create a new variable big_movers, with:
            Rows with indicies Aviva, HP, JD.com, and BHP Billiton, in that order.
            The rank and previous_rank columns, in that order.
        Create a new variable, middle_companies with:
            All rows with indicies from Tata Motorsto Nationwide, inclusive.
            All columns from rank to country, inclusive.

In [26]:
drink_companies = f500.loc[["Anheuser-Busch InBev","Coca-Cola","Heineken Holding"]]

big_movers = f500.loc[["Aviva","HP","JD.com","BHP Billiton"],["rank","previous_rank"] ]


middle_companies = f500.loc["Tata Motors":"Nationwide","rank":"country"]

instructions

    Use the appropriate describe() method to:
        Return a series of descriptive statistics for the profits column, and assign the result to profits_desc.
        Return a dataframe of descriptive statistics for the revenues and employees columns, in order, and assign the result to revenue_and_employees_desc.
        Return a dataframe of descriptive statistics for every column in the f500 dataframe, by checking the documentation for the correct value for the include parameter, and assign the result to all_desc

In [32]:
profits_desc = f500['profits'].describe()

revenue_and_employees_desc = f500[["revenues","employees"]].describe()

all_desc = f500.describe(include = 'all')

In [33]:
top5_countries = f500["country"].value_counts(5)

In [34]:
top5_countries = f500["country"].value_counts().head(5)

In [37]:

max_f500 = f500.max(numeric_only= 1)
max_f500

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [38]:
top5_countries = f500["country"].value_counts().head(5)

top5_previous_rank = f500['previous_rank'].value_counts().head()

max_f500 = f500.max(axis = 0,numeric_only= 1)

In [39]:
print( f500["previous_rank"])

Walmart                                           1
State Grid                                        2
Sinopec Group                                     4
China National Petroleum                          3
Toyota Motor                                      8
Volkswagen                                        7
Royal Dutch Shell                                 5
Berkshire Hathaway                               11
Apple                                             9
Exxon Mobil                                       6
McKesson                                         12
BP                                               10
UnitedHealth Group                               17
CVS Health                                       18
Samsung Electronics                              13
Glencore                                         14
Daimler                                          16
General Motors                                   20
AT&T                                             23
EXOR Group                                       19
Ford Motor                                       21
Industrial & Commercial Bank of China            15
AmerisourceBergen                                28
China State Construction Engineering             27
AXA                                              33
Amazon.com                                       44
Hon Hai Precision Industry                       25
China Construction Bank                          22
Honda Motor                                      36
Total                                            24
                                               ...
Amgen                                           487
Rabobank Group                                  445
Altice                                            0
Onex                                            483
US Foods Holding                                461
Shanxi Jincheng Anthracite Coal Mining Group    384
Randstad Holding                                494
Tencent Holdings                                  0
LG Display                                      429
Emirates Group                                  472
U.S. Bancorp                                    490
H & M Hennes & Mauritz                          488
Aflac                                             0
Sodexo                                          466
Suning Commerce Group                             0
GS Caltex                                       431
Ultrapar Holdings                               474
Xiamen C&D                                        0
Sears Holdings                                  425
China General Technology                        383
National Grid                                   471
Dollar General                                    0
Telecom Italia                                  404
Xiamen ITG Holding Group                          0
Xinjiang Guanghui Industry Investment             0
Teva Pharmaceutical Industries                    0
New China Life Insurance                        427
Wm. Morrison Supermarkets                       437
TUI                                             467
AutoNation                                        0
Name: previous_rank, Length: 500, dtype: int64


    Add a new column, revenues_b to the f500 dataframe by using vectorized division to divide the values in the existing revenues column by 1000 (converting them from millions to billions).
    The company 'Dow Chemical' have named a new CEO. Update the value where the index label is Dow Chemical and for the ceo column to Jim Fitterling.
m

In [41]:
f500['revenues_b'] = f500['revenues'] / 1000

f500.loc['Dow Chemical', 'ceo'] = "Jim Fitterling"


    Use boolean indexing to update values in the previous_rank column of the f500 dataframe:
        Where previous there was a value of 0, there should now be a value of np.nan.
        It is up to you whether you assign the boolean series to its own variable first, or whether you complete the operation in one line.
    Create a new pandas series, prev_rank_after, using the same syntax that was used to create the prev_rank_before series.
    After you have run your code, use the variable inspector to compare prev_rank_before and prev_rank_after.

In [42]:
import numpy as np
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

#first create boolean for the target
boolean_1 = f500['previous_rank'] == 0

f500.loc[ boolean_1,"previous_rank"] = np.nan 

prev_rank_after = f500["previous_rank"].value_counts( dropna = False ).head()

In [71]:
f500.head(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7.0,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5.0,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11.0,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9.0,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6.0,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

instructions

    Create a series, cities_usa, containing counts of the five most common Headquarter Location cities for companies headquartered in the USA.
    Create a series, sector_china, containing counts of the five most common sectors for companies headquartered in the China.
    Create float object, mean_employees_japan, containing the mean average number of employees for companies headquartered in Japan

In [57]:
top_3_countries = f500["country"].value_counts().head(3)

cities_usa_filter = f500["country"] == "USA"
china_filter = f500["country"] == "China"
Japan_filter = f500["country"] == "Japan"

cities_usa = f500.loc[ cities_usa_filter,"hq_location"].value_counts( ).head(5)
sector_china = f500.loc[ china_filter,"sector"].value_counts().head(5)
mean_employees_japan = f500.loc[ Japan_filter,"employees"].mean()
sector_china = f500.sector[f500["country"] == "China"].value_counts().head()

### Exploring Data with pandas


    With loc[], the ending slice is included.
    With iloc[], the ending slice is not included.


    With loc[], the ending slice is included.
    With iloc[], the ending slice is not included.

    The table below summarizes how we can use DataFrame.iloc[] and Series.iloc[] to select by integer position:
    Select by integer position         Explicit Syntax 	Shorthand Convention
    Single column from dataframe 	   df.iloc[:,3] 	
    List of columns from dataframe 	   iloc[:,3,5,6]] 	
    Slice of columns from dataframe    df.iloc[:,3:7]] 	
    Single row from dataframe 	       df.iloc[20] 	
    List of rows from dataframe 	   df.iloc[[0,3,8]] 	
    Slice of rows from dataframe 	   df.iloc[3:5] 	        df[3:5]
    Single items from series 	       s.iloc[8] 	            s[8]
    List of item from series 	       s.iloc[[2,8,1"]] 	    s[[2,8,1]]
    Slice of items from series 	       s.iloc[5:10] 	            s[5:10]

Select just the fifth row of the f500 dataframe, assigning the result to fifth_row.

Select the first three columns of the f500 dataframe, assigning the result to first_three_rows.

Select the first and seventh rows and the first 5 columns of the f500 dataframe, assigning the result to 
first_seventh_row_slice


After you have run your code, use the variable inspector to examine each of the objects you created

In [58]:
fifth_row = f500.iloc[4]

first_three_rows = f500.iloc[0:3,]

first_seventh_row_slice = f500.iloc[[1,7],:5]

In [59]:
f500 = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/f500.csv')

f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In the script.py code box for this screen, we have used the DataFrame.sort_values() method to sort the rows in the f500 dataframe by the employees column from most to least employees, and have assigned the resulting dataframe to sorted_emp.

    Assign the first five rows of the sorted_emp dataframe to the variable top5, by choosing the correct method out of either loc[] or iloc[].

In [60]:
sorted_emp = f500.sort_values("employees", ascending=False)

top5_emp = sorted_emp.iloc[0:5]


    Use the Series.notnull() method to select all rows from f500 that have a non-null value for the previous_rank column, and assign the result to previously_ranked
    From the previously_ranked dataframe, subtract the previous_rank column from the rank column, and assign the result to rank_change.


    Use the Series.notnull() method to select all rows from f500 that have a non-null value for the previous_rank column, and assign the result to previously_ranked
    From the previously_ranked dataframe, subtract the previous_rank column from the rank column, and assign the result to rank_change.

In [70]:
previous_rank_bool =f500["previous_rank"].notnull()

# reward thea you getattr
previously_ranked = f500[previous_rank_bool]
# below line do that in one go
#previously_ranked = f500[f500["previous_rank"].notnull()]

rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]

### Multiple boolean conditions

In [73]:
cols = ["company", "revenues", "country"]
final_cols = ["company", "revenues"]

f500_sel = f500[cols].head()
over_265 = f500_sel["revenues"] > 265000
china = f500_sel["country"] == "China"
combined = over_265 & china
result = f500_sel.loc[combined,final_cols]
#below is online solution
result = f500_sel.loc[(f500_sel["revenues"] > 265000) & (f500_sel["country"] == "China"), final_cols]

Select from the f500 dataframe:

    Companies with revenues over 100 billion and negative profits, assigning the result to big_rev_neg_profit.
    Companies in the Technology sector that are not headquartered in the USA, assigning the result to tech_outside_usa.

In [74]:
big_rev_neg_profit =  f500.loc[ (f500["revenues"] > 100) & (f500["profits"] < 0 ) ].head(2)


tech_outside_usa = f500.loc[( f500["sector"] =="Technology" ) & (f500["country"] != "USA" ) ].head(5)

###  Looping pandas data frame

In [77]:
# Create an empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# creating dictionay
country = {}
# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows["revenues"].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    country[c] = mean

In [78]:
country

{'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Brazil': 52024.57142857143,
 'Britain': 51588.708333333336,
 'Canada': 31848.0,
 'China': 55397.880733944956,
 'Denmark': 35464.0,
 'Finland': 26113.0,
 'France': 55231.793103448275,
 'Germany': 63915.0,
 'India': 39993.0,
 'Indonesia': 36487.0,
 'Ireland': 32819.5,
 'Israel': 21903.0,
 'Italy': 51899.57142857143,
 'Japan': 53164.03921568627,
 'Luxembourg': 56791.0,
 'Malaysia': 49479.0,
 'Mexico': 54987.5,
 'Netherlands': 61708.92857142857,
 'Norway': 45873.0,
 'Russia': 65247.75,
 'Saudi Arabia': 35421.0,
 'Singapore': 54454.333333333336,
 'South Korea': 49725.6,
 'Spain': 40600.666666666664,
 'Sweden': 27963.666666666668,
 'Switzerland': 51353.57142857143,
 'Taiwan': 46364.666666666664,
 'Thailand': 48719.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'USA': 64218.371212121216,
 'Venezuela': 24403.0}


    Read the documentation for the DataFrame.sort_values() method to familiarize yourself with the syntax. You will need to use only the by and ascending parameters to complete this exercise.
    Create an empty dictionary, top_employer_by_country to store the results of the exercise.
    Use the Series.unique() method to create an array of unique values from the country column.
    Use a for loop to iterate over the array unique countries, and in each iteration:
        Select only the rows that have a country name equal to the current iteration.
        Use DataFrame.sort_values() to sort those rows by the employees column in descending order.
        Select the first row from the sorted dataframe.
        Extract the company name from the index label company from the first row.
        Assign the results to the top_employer_by_country dictionary, using the country name as the key, and the company name as the value.
    When you have run your code, use the variable inspector to view the top employer for each country.

In [103]:
top_employer_by_country = {}
countries = f500["country"].unique()


for c in countries:
    
    # selected_rows
    selected_rows_df = f500[f500["country"] == c]
    country = selected_rows_df.sort_values( by = "employees",axis = 0,ascending = False).head(1)
    #print(country)
    top_name = country["company"]
    top_employer_by_country[c] = top_name

In [104]:
top_employer_by_country

{'Australia': 197    Wesfarmers
 Name: company, dtype: object, 'Belgium': 205    Anheuser-Busch InBev
 Name: company, dtype: object, 'Brazil': 190    JBS
 Name: company, dtype: object, 'Britain': 386    Compass Group
 Name: company, dtype: object, 'Canada': 292    George Weston
 Name: company, dtype: object, 'China': 3    China National Petroleum
 Name: company, dtype: object, 'Denmark': 297    Maersk Group
 Name: company, dtype: object, 'Finland': 414    Nokia
 Name: company, dtype: object, 'France': 483    Sodexo
 Name: company, dtype: object, 'Germany': 5    Volkswagen
 Name: company, dtype: object, 'India': 216    State Bank of India
 Name: company, dtype: object, 'Indonesia': 288    Pertamina
 Name: company, dtype: object, 'Ireland': 304    Accenture
 Name: company, dtype: object, 'Israel': 495    Teva Pharmaceutical Industries
 Name: company, dtype: object, 'Italy': 284    Poste Italiane
 Name: company, dtype: object, 'Japan': 4    Toyota Motor
 Name: company, dtype: object, 'Luxembourg': 155    ArcelorMittal
 Name: company, dtype: object, 'Malaysia': 183    Petronas
 Name: company, dtype: object, 'Mexico': 175    America Movil
 Name: company, dtype: object, 'Netherlands': 19    EXOR Group
 Name: company, dtype: object, 'Norway': 206    Statoil
 Name: company, dtype: object, 'Russia': 62    Gazprom
 Name: company, dtype: object, 'Saudi Arabia': 298    SABIC
 Name: company, dtype: object, 'Singapore': 454    Flex
 Name: company, dtype: object, 'South Korea': 14    Samsung Electronics
 Name: company, dtype: object, 'Spain': 72    Banco Santander
 Name: company, dtype: object, 'Sweden': 481    H & M Hennes & Mauritz
 Name: company, dtype: object, 'Switzerland': 63    Nestle
 Name: company, dtype: object, 'Taiwan': 26    Hon Hai Precision Industry
 Name: company, dtype: object, 'Thailand': 191    PTT
 Name: company, dtype: object, 'Turkey': 462    Koc Holding
 Name: company, dtype: object, 'U.A.E': 479    Emirates Group
 Name: company, dtype: object, 'USA': 0    Walmart
 Name: company, dtype: object, 'Venezuela': 441    Mercantil Servicios Financieros
 Name: company, dtype: object}

In [105]:
top_employer_by_country = {}
countries = f500["country"].unique()
for c in countries:
    selected_rows = f500[f500["country"] == c]
    sorted_rows = selected_rows.sort_values("employees", ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer["company"]
    top_employer_by_country[c] = employer_name

In [106]:
top_employer_by_country

{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 'Britain': 'Compass Group',
 'Canada': 'George Weston',
 'China': 'China National Petroleum',
 'Denmark': 'Maersk Group',
 'Finland': 'Nokia',
 'France': 'Sodexo',
 'Germany': 'Volkswagen',
 'India': 'State Bank of India',
 'Indonesia': 'Pertamina',
 'Ireland': 'Accenture',
 'Israel': 'Teva Pharmaceutical Industries',
 'Italy': 'Poste Italiane',
 'Japan': 'Toyota Motor',
 'Luxembourg': 'ArcelorMittal',
 'Malaysia': 'Petronas',
 'Mexico': 'America Movil',
 'Netherlands': 'EXOR Group',
 'Norway': 'Statoil',
 'Russia': 'Gazprom',
 'Saudi Arabia': 'SABIC',
 'Singapore': 'Flex',
 'South Korea': 'Samsung Electronics',
 'Spain': 'Banco Santander',
 'Sweden': 'H & M Hennes & Mauritz',
 'Switzerland': 'Nestle',
 'Taiwan': 'Hon Hai Precision Industry',
 'Thailand': 'PTT',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}

Task

    Create a new column roa in the f500 dataframe, containing the return on assets metric for each company.
    Aggregate the data by the sector column, and create a dictionary top_roa_by_sector, with:
        Dictionary keys with the sector name.
        Dictionary values with the company name with the highest ROA value from that sector.

In [132]:
f500["roa"] = f500["profits"]/ f500["assets"]
sectors = f500["sector"].unique()
top_roa_by_sector = {}

for sector in sectors:
    sector_companies = f500[f500["sector"] == sector]
    #sector_companies
    #sort_values = sector_companies.sort_values("roa",ascending = False).head(1)
    sort_values = sector_companies.sort_values("roa",ascending = False)
    top_roa = sort_values.iloc[0]
    #top_roa = sort_values["company"]
    top_roa_name = top_roa["company"]
    top_roa_by_sector[ sector]= top_roa_name

In [133]:
top_roa_by_sector

{'Aerospace & Defense': 'Lockheed Martin',
 'Apparel': 'Nike',
 'Business Services': 'Adecco Group',
 'Chemicals': 'LyondellBasell Industries',
 'Energy': 'National Grid',
 'Engineering & Construction': 'Pacific Construction Group',
 'Financials': 'Berkshire Hathaway',
 'Food & Drug Stores': 'Publix Super Markets',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Health Care': 'Gilead Sciences',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Household Products': 'Unilever',
 'Industrials': '3M',
 'Materials': 'CRH',
 'Media': 'Disney',
 'Motor Vehicles & Parts': 'Subaru',
 'Retailing': 'H & M Hennes & Mauritz',
 'Technology': 'Accenture',
 'Telecommunications': 'KDDI',
 'Transportation': 'Delta Air Lines',
 'Wholesalers': 'McKesson'}