In [3]:
import csv
f  = open("guns.csv")
gun_data = list(csv.reader(f))

In [4]:
headers = gun_data[:1]
gun_data = gun_data[1:]
print(headers)
print(gun_data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

### Counting deaths by years

In [5]:
year_counts ={}
def count_year(arg_list):
    for row in arg_list:
        year = int(row[1])
        if year in year_counts:
            year_counts[year] += 1
        else:
            year_counts[year] = 1
    return year_counts
year_counts_dic = count_year(gun_data)

In [6]:
year_counts_dic

{2012: 33563, 2013: 33636, 2014: 33599}

### Couting deaths by date

https://docs.python.org/3/library/datetime.html#datetime-objects

In [10]:
import datetime
date_data = [datetime.datetime(year=int(row[1]),month = int(row[2]),day = 1) for row in gun_data]

In [11]:
date_data[0:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [12]:
date_counts={}
for date in date_data:
    # what type of object we are checking here
    if date in date_counts:
        date_counts[date] += 1
    else:
        date_counts[date] = 1

In [13]:
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [17]:
def counts_data(gun_data,col):#5,7
    dic1_temp = {}
    for row in gun_data:
        if row[col] in dic1_temp:
            dic1_temp[row[col]] += 1
        else:
            dic1_temp[row[col]] = 1
            
    return dic1_temp


sex_counts = counts_data( gun_data,5)
race_counts = counts_data(gun_data,7)
print(sex_counts)
print(race_counts)

{'F': 14449, 'M': 86349}
{'White': 66237, 'Black': 23296, 'Hispanic': 9022, 'Native American/Native Alaskan': 917, 'Asian/Pacific Islander': 1326}

It seems according to popular belief white race persons are violent in nature or they don't hesitate shooting or use of guns.

### Readind second data set for population distribution , so that we can draw a relative conclusion

In [19]:
import pandas as pd
census = pd.read_csv('census.csv')
census.head()

,Id,Year,Id.1,Sex,Id.2,Hispanic Origin,Id.3,Id2,Geography,Total,Race Alone - White,Race Alone - Hispanic,Race Alone - Black or African American,Race Alone - American Indian and Alaska Native,Race Alone - Asian,Race Alone - Native Hawaiian and Other Pacific Islander,Two or More Races
0,cen42010,"April 1, 2010 Census",totsex,Both Sexes,tothisp,Total,0100000US,NaN,United States,308745538,197318956,44618105,40250635,3739506,15159516,674625,6984195

In [23]:
f = open('census.csv')
census = list(csv.reader(f))

In [25]:
census_header = census[0:1]
census_data = census[1:]
print(census_header)
print(census_data)

[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races']]
[['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [26]:


mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

In [28]:
race_per_hundredk ={}
for k in race_counts:
    value = race_counts[k]/mapping[k] * 100000 # gun death rate 100K
    race_per_hundredk[k] = value
    
print(race_per_hundredk)

{'White': 33.56849303419181, 'Black': 57.8773477735196, 'Asian/Pacific Islander': 8.374309664161762, 'Native American/Native Alaskan': 24.521955573811088, 'Hispanic': 20.220491210910907}

In [29]:
intents = [row[3] for row in gun_data]

In [31]:
#intents

In [37]:
races = [row[7] for row in gun_data]
#races

In [42]:
homicide_race_counts_per_hundredk= {}
homicide_race_counts = {}
for i,race in enumerate(races):
    if intents[i] == 'Homicide':
        if race not in homicide_race_counts:
            homicide_race_counts[race] = 1
        else:
            homicide_race_counts[race] += 1
for k in homicide_race_counts:
    value = homicide_race_counts[k]/mapping[k] * 100000 # gun death rate 100K
    homicide_race_counts_per_hundredk[k] = value

In [43]:
homicide_race_counts_per_hundredk

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

Now considering population density Black people and Hispanic seems to be involved in gun related incidents.